.header_mobile{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 60vw;
    right: 0px;
    top: -6px;
    padding: 18px 12px;
    background-color: white;
}

.close_icon{
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.mobile_options{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    width: 100%;
    height: 100%;
}

.mobile_option{
    font-size: 24px;
    margin: 12px 0px;
    display: flex;
}

.mobile_option a {
    display: flex;
    text-decoration: none;
}