.header_web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web_option{
    font-size: 20px;
    margin-right: 16px;
    font-weight: 700;
}

.web_option > a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

.option_icon{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.web_option:last-child{
    margin-right: 0px;
}