.work_card{
    padding: 8px;
    width: 45%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.work_logo{
    height: 80px ;
}

.work_info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
;
}

.work_date{
    color: gray;
    margin: 6px;
    
}

.work_desc{
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden ;
    text-overflow: ellipsis;
    width: 100%;


}

@media only screen and (max-width: 720px){
    .work_card{
        width: 100%;
    }
}