.skills{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.skills_section{
    display: flex;
    justify-content: space-between;
    margin: 12px 0px;

}

.skill_type{
    font-size: 24px;
    font-weight: 600;
    
}

.skill_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content: flex-end;
}

@media only screen and (max-width : 720px){
    .skill_list{
        max-width: 100%;
        justify-content: center;
    }

    .skills_section{
        flex-direction: column;
        align-items: center;
    }
}