.project-card{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0px;
    padding : 8px 0px;

}

.project_card_image{
    width: 40%;
}

.project_card_text{
    margin-right: 24px;
}

.project_title{
    font-size: 20px;
    font-weight: 600;
}

.project_tags{
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
}

.tag{
    padding: 4px 8px;
    background-color: aquamarine;
    border-radius: 4px;
    margin-right: 6px ;
    margin-bottom: 4px ;
}

.project_links a {
    text-decoration: none;
    color: black;
}

.project_links{
    display: flex;
    margin-top : 6px;
    margin-bottom: 6px;
}

.link_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 4px 8px;
    background-color: aquamarine;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 6px;
}

.link_button i{
    display: flex;
    align-items: center;
    margin-right: 4px;
}

@media only screen and (max-width : 720px){

    .project_card_image {
        width: 70%;
    }
    .project-card{
        flex-direction: column-reverse;
    }

    .project_card_text{
        margin-left: 0px;
        margin-top: 12px;
    }

    .project_tags{
        max-width: 100%;
    }
}