.social{
   display: flex;
   justify-content: center;
   align-items: center;
}

.social_icon_div{
    padding: 6px;
    margin: 6px;
    cursor: pointer;
}

.social_icon{
    height: 40px;
    
}

@media only screen and (max-width : 720px){

    .social_icon{
        height: 32px;
    }


}